border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  margin:0 20px
  font-size:rem(20)
  
body
    font 12px Helvetica, Arial, sans-serif
    .test
  	    color:red;
  
  
 pairs = (one 1) (two 2) (three 3)  
  
a.button
  border-radius 5px 6px 7px
  if true
  	margin:10px _
  fixed:0
  initialize()
  margin:values(pairs)
  
  

